{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="section">
        <h2>All Stock</h2>
        <table>
            <thead>
                <tr>
                    <th>Cash</th>
                    <th>Cash + Stock</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ CashBalance.cash | usd }}</td>
                    <td>{{ CashBalance.total | usd }}</td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>Stock Name</th>
                    <th>Own Shares</th>
                    <th>Stock Price</th>
                    <th>Total Value of each Stock</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.hold_share }}</td>
                    <td>{{ stock.price | usd }}</td>
                    <td>{{ stock.total_value | usd }}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
{% endblock %}